<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="koteriku-dbcp.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <!--
                <property name="password" value="${db.pass}"/>
                -->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="Hourlist.xml"/>
        <mapper resource="HourlistGroup.xml"/>
        <mapper resource="Invoice.xml"/>
        <mapper resource="GeneralJournal.xml"/>
        <mapper resource="Ns4102.xml"/>
    </mappers>
</configuration>
